html, body {
    background: black;
    width: 100%;
    height: 100%;
    overflow-y:hidden;
    overflow-x:hidden;
}

#video {
    margin-top: 40px; 
    text-align: center;
    color: white;
}

#overlay {
    position: absolute;	 
    top: 40px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.navbar-fixed-top .navbar-inner {
    -webkit-box-shadow: 0 1px 10px #5F9F9F;
    -moz-box-shadow: 0 1px 10px #5F9F9F;
    -ms-box-shadow: 0 1px 10px #5F9F9F;
    box-shadow: 0 1px 10px #5F9F9F;
    -webkit-user-select: none !important;
    -moz-user-select: moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.navbar-inverse .brand {
    color: #AFCFCF;
}

.navbar-btn {
    font-size: 20px;
    font-weight: 200;
    padding: 10px 20px 10px;
}

#videoControls i {
    margin-left: 5px;
    margin-right: 5px;
    color: gray
}

#pause {
    margin-left: 20px !important;
    color: #FFC87C !important;
}

#videoInfo {
    text-decoration: none;
}

#menuDisabled {
    color: #b34a00;
}

#disconnectMsg {
    font-size: 14px;
    font-style: italic;
}

.tooltip-inner {
    white-space: pre;
    max-width: none;
    text-align: left;
    padding-right: 15px;
}

:hover {
   color: none;
   border: none;
}
